.nav_header{
  height:90px;
  display:flex;
  align-items:center;
}

.logo{
  height:70px;
  width:120px;
}

.container{
  display:flex;
  margin:0px;
  padding:12px;
  background-color:darkblue;
}

body{
  font-size:12px;
}

.left_hand_nav{
  margin-left:5%;
  font-size:20px;
  width:15%;
  background-color:lightblue;
}

#nav_links{
  margin-bottom:20%;
}

.alert_container{
  margin:0px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-wrap:wrap;
  width:90%;
  background-color:blue;
}

#nav_bucket{
  margin:3%;
  padding:10px;
  height:100px;
  font-size:18px;
  border-style:solid;
  border-radius:10px;
}

.trend_container{
  height:100px;
  width:85%;
  background-color:black;
}

.trendFrame{
  width: 85%;
  height: 300px;
}
