/*style for the progress bar*/
#steps{
  margin:30px;
}

.main_body{
  border-style:solid;
  border-radius: 10px;
  margin-left:2%;
  margin-right:2%;
  padding:20px;
}

/*style for the user role buttons*/
button{
  padding:10px;
}
