/*
Project Name: Relaxr HW 4
Author: Tiffany Fung
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
	box-sizing: border-box;
}
/* Clear fix hack */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clear {
	clear: both;
}
.alignright {
	float: right;
	padding: 0 0 10px 10px;
	/* note the padding around a right floated image */
}
.alignleft {
	float: left;
	padding: 0 10px 10px 0;
	/* note the padding around a left floated image */
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	font-size: 12px;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

#container {
	width: 960px;
	margin: auto;
	background-color: #f0efef;
}
header {
	background-color: #033048;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
}
.title {
	width: 90%;
	font-size: 30px;
}

/*header navigation links*/
.nav_links {
	width: 50%;
	font-size: 20px;
}
a:link, a:visited, a:active {
	color: #f9e42e;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#body {
	width: 960px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#header_txt {
	font-size: 40px;
	font-weight: semibold;
	color: #033048;
}
.leftMain {
	width: 70%;
	font-size: 24px;
	margin-right: 30px;
	color: #606161;
}
.picture_center {
	width: 600px;
}
.sidebar, #link_side {
	width: 20%;
	font-size: 24px;
	font-weight: light;
	color: #033048;
	text-decoration: none;
}
h1.bold {
	font-weight: Extrabold;
	font-size: 32px;
}
.about_txt {
	font-size: 22px;
	font-weight: light;
}
.learnmore {
	font-size: 22px;
	font-weight: semibold;
}

/*Removing border from "Read More" buttons*/
#readmore1, #readmore2 {
	border-style: none;
	color: #033048;
}
.ad_pic {
	padding-top: 10px;
	margin-bottom: 550px;
	width: 100px;
}
#signUp {
	background-color: #f9e42e;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.signUp {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #033048;
	color: white;
	border-radius: 5px;
}
a.read:hover {
	color: #f9e42e;
	text-decoration: none;
}
footer {
	background-color: #121212;
	align-items: center;
	padding-left: 50%;
	margin: 0px;
	height: 100px;
	color: white;
}
.logo2 {
	padding-left: 50px;
}
